<!DOCTYPE html>
<html lang="en">
  <head>
<!-- ---------------------------------------------------------meta links----------------------------------------------------------------- -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Hello my name is Luna, 'm an A.I created by my mastter. ">
    <meta name="author" content="Pradeep Sahu">
    <meta name="keywords" content="A.I | Robo | Automated | Master.">
    <title>Education</title>
    <!-- icon top -->
    <link rel="icon" href="/images/diploma.png" type="image/gif" >
    <!-- link css file -->
    <link rel="stylesheet" href="/css/education.css" />

    <!-- bootstrap linkage -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bootstrap javascript link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </head>
  <body class="bodyClass">
    <%- include("navigation") -%>


    <!-- -----------------table------------------------------- -->
    <div class="table-box">
      <h2>Education</h2>
      <div class="table-row table-head">
        <div class="table-cell">
          <p>Institution Name</p>
        </div>
        <div class="table-cell">
          <p>percentile</p>
        </div>
        <div class="table-cell">
          <p>Year</p>
        </div>
        <div class="table-cell">
          <p>Source</p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>Future College</p>
        </div>
        <div class="table-cell">
          <p>Blank</p>
        </div>
        <div class="table-cell">
          <p>2022-</p>
        </div>
        <div class="table-cell last-cell">
          <a href="#">Blank</a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>
            High School <br />
            Vinay Nagar Bemgali Sr. Sec. School
          </p>
        </div>
        <div class="table-cell">
          <p>85% (CBSE)</p>
        </div>
        <div class="table-cell">
          <p>2019-2021</p>
        </div>
        <div class="table-cell last-cell">
          <a href="files/Class_12th_Certificate.pdf">View</a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>
            Junior High <br />
            Vinay Nagar Bengali Sr. Sec. School
          </p>
        </div>
        <div class="table-cell">
          <p>80% (CBSE)</p>
        </div>
        <div class="table-cell">
          <p>2014-2019</p>
        </div>
        <div class="table-cell last-cell">
          <a href="web/files/Class_10th_Certificate.pdf">View</a>
        </div>
      </div>
      <p style="text-align: center">
        All Other Educational Certificates And Letters Here
        <a
          href="https://drive.google.com/drive/folders/1oyYoK4L3IaBihT2G7qodr6RSMv1gV1Vx?usp=sharing"
          >View</a
        >
      </p>
    </div>

    <div class="parag1">
      <h2>Information</h2>
      <p>
        CBSE - Central Board Of Secondary Education <br />
        The Central Board of Secondary Education (CBSE) is a national level
        board of education in India for public and private schools, controlled
        and managed by Government of India.
      </p>
      <h2>Name Changed</h2>
      <p>
        I have changed my Name From Pradeep Kumar sahu to Pradeep sahu thats why
        my name is different from my educational certificates.
        <a href="files/Name_ChangeProof.pdf">View here</a>
      </p>
    </div>
    <div class="table-box2">
      <h2>Projects</h2>
      <div class="table-row table-head">
        <div class="table-cell">
          <p>Project Title</p>
        </div>
        <div class="table-cell">
          <p>Time</p>
        </div>
        <div class="table-cell">
          <p>Status</p>
        </div>
        <div class="table-cell">
          <p>Source</p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>Covid-19 Vaccine appointment using API</p>
        </div>
        <div class="table-cell">
          <p>1+ Weeks (10+ Hours)</p>
        </div>
        <div class="table-cell">
          <p>Completed</p>
        </div>
        <div class="table-cell last-cell">
          <a href="https://github.com/PradeepSahhu/PradeepSahhu">view</a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>Learning Korean</p>
        </div>
        <div class="table-cell">
          <p>3+ Weeks (20+ Hours)</p>
        </div>
        <div class="table-cell">
          <p>In Progress</p>
        </div>
        <div class="table-cell last-cell">
          <a href="#">(In next 6 Months)View</a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>Web Development</p>
        </div>
        <div class="table-cell">
          <p>1+ Month (100+ Hours)</p>
        </div>
        <div class="table-cell">
          <p>In Progress</p>
        </div>
        <div class="table-cell last-cell">
          <a href="https://pradeepsahu.in">View</a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>Python Database for Covid-19</p>
        </div>
        <div class="table-cell">
          <p>1 month+ (60+ Hours)</p>
        </div>
        <div class="table-cell">
          <p>Completed</p>
        </div>
        <div class="table-cell last-cell">
          <a
            href="mailto:official.pradeepsahu@gmail.com?subject=Request for database"
            >Submit request(can't view here)</a
          >
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell">
          <p>Writer(for school club)</p>
        </div>
        <div class="table-cell">
          <p>10 months+ (300+ Hours)</p>
        </div>
        <div class="table-cell">
          <p>Completed</p>
        </div>
        <div class="table-cell last-cell">
          <a href="#">No Proof</a>
        </div>
      </div>
    </div>

    <div class="publication">
      <h2>Publications and Research</h2>
      <p>
        Not Yet that much but i am reading some journals and publications and
        will surely start my own research and will publish my research, when i
        will have enough knowledge at that paticular field. <br />
        for now my future is uncertain, i cant decide my college. I hope i will
        get admission for next year.
      </p>
    </div>

    <div class="books">
      <h2>Books</h2>
      <p>
        Currently I am reading two books <br />
        1. Chanakya Niti <br />
        2.
        <a
          href="https://drive.google.com/drive/folders/1uLvDLsjOjHna3ZTL-JTZPRAUsnKR8W1W?usp=sharing"
          >How to Avoid a Climate disaster by "bill gates".</a
        >
      </p>
    </div>
  </body>

  <footer>
    <!-- javascript scripts CDN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

   <!-- External javascript file -->
   <script src="app.js" type="text/javascript" charset="utf-8"></script>
  </footer>
</html>
