@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box; /*-------*/
    margin: 0;
    padding: 0;
    /*background-color: #ffffff;*/
}
li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;

}
header{
    display: flex; /*----------*/
    justify-content: space-between ; /*----------*/
    align-items: center; /*----------*/
    padding: 30px 10%;
    background-color: #24A19C;
}
.logo{
    cursor:pointer; /*----------*/
    width: 5%;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding:  0 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
    color: black;
    font-weight: 600;
}
.nav-links li a:hover{
    color: #0088a9 ;
}
.cta{
    padding: 9px 25px;
    background-color: white; /* because rgba has the alpha value for opacity.*/
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}